.cursor {
  cursor: pointer;
}

.article {
  width: 45%;
  padding: 1em;
  background-color: #fffdfd;
  border-bottom: solid 1px;
  border-bottom-color: #faf0f0;
}

.article_container {
}

.article_container_footer {
}

.article_container_footer_button {
  width: 100%;
}

.article_container_flex_box {
  display: flex;
  align-items: flex-start;
}

.pod_container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.pod_right_container {
  width: 100%;
}

.pod_right_container_flex_box {
  display: flex;
  align-items: flex-start;
}

.account_info_name {
  width: 75%;
  word-break: break-all;
}

.account_info_timestamp {
  width: 25%;
  word-break: break-all;
  font-size: 0.8em;
  text-align: right;
}

.dp_disp {
  color: #baaaaa;
}

.rp_container {
  position: relative;
}
.rp_selecter {
  display: none;
  padding: 1em;
  position: absolute;
  background-color: #ffffff;
  border: solid 1px;
  border-color: #faf0f0;
  top: 0;
  left: 2em;
  color: #baaaaa;
}

.rp_hover {
}
.rp_hover:hover {
  text-decoration: underline;
}

.counter {
  font-size: 0.8em;
  padding-left: 0.5em;
  color: #baaaaa;
}

.rp_border {
  border: solid 1px;
  border-color: #faf0f0;
  border-radius: 1em;
  padding: 1em;
}
