.cursor {
  cursor: pointer;
}

.icon_margin {
  margin: 0 1em 0 0;
}

.separator {
  margin: 0 0.25em 0 0;
}

.article {
  width: 40%;
  margin: 0 0 1em 0;
}

.podContainer {
  display: flex;
}

.expander {
  width: 100%;
  display: flex;
  align-items: center;
}

.icon {
  width: 10%;
}

.name {
  width: 70%;
  word-break: break-all;
}

.timestamp {
  width: 20%;
  word-break: break-all;
  font-size: 0.8em;
  text-align: right;
  text-decoration: underline;
}

.message {
  width: 90%;
  margin: 1em 0 1em 0;
  word-break: break-all;
}
