.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-flow: column;
}

.flex {
  display: flex;
  align-items: flex-end;
}

.icon {
  margin-top: -64px;
  margin-left: 5rem;
}

.bio {
  margin-bottom: 3rem;
}