/* for PC */
@media screen and (orientation: landscape) {
  .article {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .timestamp {
    font-size: 75%;
  }

  .body {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}